@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;600&display=swap');


:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}
*{
        box-sizing: border-box;
        color: white;
}

body{
    background-color: var(--violet);
    background-image: url("images/bg-mobile.svg");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
}

header{
    margin-top: 2em;
    margin-left: 2em;
}
header img{
    width: 8em;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5em;
}

.main img{
    width: 80%;
}

.main h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 3em;
    text-align: center;
    padding: 0 2em;
    line-height: 1.5;
}

.main p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 1.25em;
    padding: 0 2.1em;
}

.main button{
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    margin-top: 2em;
    max-width: 210px;
    padding: .75em 5em;
    border-radius: 3em;
    border: none;
    box-shadow: 0px 5px 5px hsl(257, 42%, 40%);
    transition: all .3s ease-in;
}

.main button:hover{
    background-color: hsl(300, 69%, 71%);
    color:white;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials{
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 1.5em;
}

.socials a{
    text-decoration: none;
}

.icon{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: .5em;
    transition: all .3s ease-in;
}

.icon-facebook{
    padding-right: .75em;
    padding-left: .75em;
}

.icon-twitter{
    margin-right: 1em;
    margin-left: 1em;
}



/* Responsive Layout */
@media (min-width: 570px){

    body{
        background-image: url("./images/bg-desktop.svg");
        background-size: cover;        
    }

    header{
        margin-top: 3em;
        margin-left: 3em;
    }

    header img{
        width: 11em;
    }
    .main{
        display: flex;
        flex-direction: row;
        margin: 3.5em 3em 0;
        align-items: flex-start;
    }

    .main img{
        width: 100%;
    }

    .main h2{
        margin-top: 0;
        font-size: 3em;
    }

    .main p{
        font-size: 1.2em;
    }
    
    .main h2, .main p{
        text-align: left;
        padding-left: 0;
    }

    .content{
        align-items: flex-start;
        margin-top: 2.5em;
        margin-left: 3em;
    }

    .content p{
        padding-right: 6em;
    }
    .socials{
        justify-content: flex-end;
        margin-right: 2em;
    }

    .attribution{
        margin-bottom: 1em;
    }
}